@use 'sass:math';
@import '/node_modules/bootstrap/scss/_functions.scss';
@import '/node_modules/bootstrap/scss/_variables.scss';

section {

    &.config {
        &>div {
            gap: .5rem;
        }

        & .input-group-text {
            border: none;
            background-color: var(--bs-primary);
            color: #fff;
        }

        & .input-group:first-of-type:not(:last-of-type) .input-group-text {

            z-index: 10;

            &::after {
                position: absolute;
                content: '';
                background: var(--bs-primary);
                width: calc(#{math.cos(45deg)} * 3rem);
                height: calc(#{math.cos(45deg)} * 3rem);
                right: calc((#{math.cos(45deg) * -0.5} * 3rem) + .125rem);
                transform: rotate(45deg);
                border-radius: 0 .25rem;
            }

            & .form-select {
                z-index: 10;
            }
        }

        & .input-group:last-of-type:not(:first-of-type) .input-group-text {
            border-radius: 0 .25rem .25rem 0;
            background-color: $blue-300 !important;
            padding-left: 2rem;

            &::after {
                position: absolute;
                content: '';
                background: #fff;
                width: calc(#{math.cos(45deg)} * 3rem);
                height: calc(#{math.cos(45deg)} * 3rem);
                left: calc(#{math.cos(45deg) * -0.5} * 3rem);
                transform: rotate(45deg);
                border-radius: 0 .25rem;
            }
        }
    }

    &.export {
        // centrer les cards
        &>* {
            margin: auto;
        }

        // égaliser la taille des "Débute & "Fin" pour les choix de dates
        & .input-group-text{
            min-width: 8ch;
            justify-content: flex-end;
        }
    }

    .form-select {
        margin-left: .5rem;
    }
}

.card {
    max-width: min(40rem, 65vw);
    box-shadow: 0 0 0.65em rgba(0, 0, 0, .25);

    &:not(.beware) .card-header {
        color: var(--bs-primary);
    }

    & pre {
        font-family: monospace;
        font-size: .75em;
        padding: .5em .5em;
        border-radius: .25em;
        background-color: $gray-700;
    }

    & .alert {
        padding: .5rem;
        margin-bottom: 0;
    }

    &.beware {
        border-color: var(--bs-danger) !important;

        & .card-header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: .5em;
            background-color: var(--bs-danger) !important;
            color: #fff;
        }
    }
}