.table-tests tr td:nth-child(1),
.table-tests tr td:nth-child(4),
.table-tests tr td:nth-child(5),
.table-tests tr td:nth-child(6),
.table-tests tr th:nth-child(5) {
    text-align: center
}

.table-quizs tr td:nth-child(3),
.table-quizs tr td:nth-child(4) {
    text-align: center
}

table span.material-icons {
    // TODO: sans doute bon à supprimer
    vertical-align: middle;
    cursor: pointer;
    color: red !important;
}

th.clickable {
    cursor: pointer;
}

button.icon {
    appearance: none;
    border: 0;
    background: transparent;
}

th.col-icon {
    width: 3rem;
}

.test__name svg {
    color: var(--bs-info);
    width: 1rem;
}