.table-tests tr td:nth-child(1),
.table-tests tr td:nth-child(4),
.table-tests tr td:nth-child(5),
.table-tests tr th:nth-child(5) {
    text-align: center
}

.table-quizs tr td:nth-child(3),
.table-quizs tr td:nth-child(4) {
    text-align: center
}

table span.material-icons {
    vertical-align: middle;
    cursor: pointer;
}

th.clickable {
    cursor: pointer;
}

button.icon{
    appearance: none;
    border: 0;
    background: transparent;
}