// Include Bootstrap to load mixins
@import 'bootstrap/scss/bootstrap';

$bs-primary: #0d6efd;

.numero {
    display: inline-grid;
    place-content: center;
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    margin-right: .25em;
    color: #fff;
    border-radius: 50%;
}

.arrow {
    display: grid;
    place-content: center;
    user-select: none;

    & svg {
        transform: rotate(90deg);
    }
}

@include media-breakpoint-up(md) {
    .arrow svg {
        transform: rotate(0deg);
    }
}

.ul-quizs ul {
    width: 100%;
    min-height: 10em;
    max-height: 12em;
    padding: .25em;
    overflow: clip auto;
    background-color: lighten($bs-primary, 60%);
    border-radius: .25em;
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 0.25em rgba(0, 0, 0, .25) inset;
}

.list-group-item {
    width: 100%;
    padding-left: .5rem;
    user-select: none;

    & svg {
        color: var(--bs-primary);

        &:hover {
            cursor: pointer;
        }

        &.grab:hover {
            cursor: grab;
        }
    }
}

// input groups Verbatims
@include media-breakpoint-down(md) {
    // s'applique aux breakpoints < md

    .add-verbatim .input-group-text:not(:last-of-type),
    .greetings .input-group-text {
        width: 100%;
        border-radius: .25rem .25rem 0 0 !important;
        margin-bottom: -1px !important;
    }

    .add-verbatim .input-group-text:last-of-type {
        border-radius: 0 0 .25rem .25rem !important;
        justify-content: center;
        margin-left: 0 !important;
        margin-top: -1px !important;
        padding-block: 0 !important;
    }

    .add-verbatim .input-group>.form-control {
        width: 100%;
        margin-left: 0 !important;
    }

    .greetings textarea {
        border-radius: 0 0 .25rem .25rem !important;
    }
}