// Include Bootstrap to load mixins
@import 'bootstrap/scss/bootstrap';

$bs-primary: #0d6efd;

.badge{
    margin-right: .5em;
}

.arrow {
    display: grid;
    place-content: center;
    user-select: none;
    & svg {
        transform: rotate(90deg);
    }
}

@include media-breakpoint-up(md) {
    .arrow svg {
        transform: rotate(0deg);
    }
}

.ul-quizs  ul {
    width: 100%;
    min-height: 10em;
    max-height: 12em;
    padding: .25em;
    overflow: clip auto;
    background-color: lighten($bs-primary, 60%);
    border-radius: .25em;
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: 0 0 0.25em rgba(0,0,0,.25) inset;
}

.list-group-item {
    width: 100%;
    padding-left: .5rem;
    user-select: none;

    & svg {
        color: var(--bs-primary);

        &:hover {
            cursor: pointer;
        }

        &.grab:hover {
            cursor: grab;
        }
    }
}