#root{
    min-height: 100vh;
    background-color: antiquewhite;
}

:root{
    // --bg-clr: hsl(180deg, 50%, 95%);
    --bg-clr: deeppink;
  }
  
.container-md {
    background-color: #fff;
}

// réserver de l'espace pour le dashboard quand il est présent
.dashboard + * {
    margin-top: 3rem;
}

.eye {
    background-color: var(--bs-gray-100);
    svg {
        user-select: none;
        stroke: var(--bs-primary)
    }

    :hover{
        cursor: pointer;
    }
}