.questionnaireMap {
    width: 75vw;
    max-height: 80vh;
    aspect-ratio: 1 / 1;
    position: relative;
    color: red;
    background-color: pink;
}

.questionnaireMap.over {
    box-shadow: 0 0 0 .25em green;
}