$bs-primary: #0d6efd;

.dropzone {
    position: relative;

    &.over {
        background-color: var(--bs-teal);

        &::before{
            content: "Relâchez";
        }
    }
    
    &::before{
        content: "Déposez ici le(s) quiz(s) sélectionné(s)";
        position:absolute;
        width: 100%;
        height: auto;
        bottom: 0;
        color: rgba(0,0,0,.25);
        padding: .25em;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.2;
        text-align: center;
    }

    & .list-group-item {
        background-color: lighten($bs-primary, 40%);
        justify-content: space-between;

        & .btn {
            padding: 0;
        }
    }
}