:root {
    --bg-blue: deepskyblue;
    --bg-pink: deeppink;
    --bg-gray: lightslategray;
}

.carte {
    width: min(40rem, 50vw);
    padding: 1rem;
    border-radius: .25rem;
    background-color: var(--bg-carte, deepskyblue);
    box-shadow: 0 0 1em rgba(0, 0, 0, .45);
    transition: background-color .125s linear;
}

input[type=radio]:hover {
    cursor: pointer;
}